<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${param.error}">
    Tai khoan mat khau khong hop le!
</div>
<div th:if="${param.logout}">
    You have been logged out hihi.
</div>
<form th:action="@{/accounts/login}" method="post">
    <div>
        Username: <input type="text" name="username">
    </div>
    <div>
        Password: <input type="text" name="password">
    </div>
    <div>
        <input type="submit" value="LOGIN">
    </div>
</form>
</body>
</html>